<div class="row container">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6" >
        <div class="mapouter"><div class="gmap_canvas"><iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=12.104900,%20-86.297151&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:500px;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}</style></div></div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <form [formGroup]="form">
            <div class="card">
                
                <div class="card-body">
                    <h3 class="card-title text-center">Contáctanos</h3>
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                        <label for="floatingInput">Nombre Completo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="algo@email.com">
                        <label for="floatingInput">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                        <label for="floatingInput">Numero de Teléfono</label>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Escribe tus dudas..." id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comentarios</label>
                      </div>

                    <button type="button" class="btn btn-pink">Solicitar Info</button>
                </div>
            </div>
        </form>
    </div>
</div>