<div class="container" >
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 animate__animated animate__fadeInUpBig" >
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=12.104900,%20-86.297151&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://fmovies-online.net"></a>
                    <br>
                    <style>.mapouter{position:relative;text-align:right;height:500px;width:500px;}
                    </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                    <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:500px;}
                    </style>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 animate__animated animate__fadeInDownBig">
            <form [formGroup]="form">
                <div class="card">
                    
                    <div class="card-body">
                        <h3 class="card-title text-center">Contáctanos</h3>
                        <div class="form-floating mb-3 mt-3">
                            <input required formControlName= "Name" pe="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                            <span class="reactiveSpan" *ngIf = "form.value['Name'].invalid && form.value['Name'].touched">El Nombre es Requerido </span>
                            <label for="floatingInput">Nombre Completo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input required formControlName= "Email" type="email" class="form-control" id="floatingInput" placeholder="algo@email.com">
                            <label for="floatingInput">Correo Electrónico</label>
                            <span class="reactiveSpan" *ngIf = "form.value['Email'].invalid && form.value['Email'].touched">Formato Inválido</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input required formControlName= "PhoneNumber" type="tel" class="form-control" id="floatingInput" placeholder="Nombre Completo">
                            <label for="floatingInput">Número de Teléfono</label>
                            <span class="reactiveSpan" *ngIf = "form.value['PhoneNumber'].invalid && form.value['PhoneNumber'].touched">Formato Inválido </span>
                        </div>
    
                        <div class="form-floating mb-3">
                            <textarea required formControlName= "Comments" class="form-control" placeholder="Escribe tus dudas..." id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comentarios</label>
                          </div>

                        <div [hidden]="captcha">
                            <label for="">Hola, humano potencial...</label>
                            <re-captcha (resolved)="resolved($event)" siteKey="6LfWc2UgAAAAADLP5yMwKRDKZaUPoD1uao7sIlxp"></re-captcha>
                        </div>

                        <div [hidden]="!captcha">
                            <button (click)="Submit()"  type="button" class="btn btn-pink">Enviar</button>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>