<!-- CARRUSEL -->
<div id="carouselExampleFade" data-aos="zoom-in" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- <div class="carousel-item active" data-bs-interval="4000">
      <img src="assets/img/como-ordenar.png" class="d-block w-100">
    </div> -->
    <div class="carousel-item active" data-bs-interval="4000">
      <img src="assets/img/carousel4.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="assets/img/carousel2.png" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="assets/img/carousel1.png" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- ABOUT -->
<div id="nosotros" data-aos="fade-right" class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="about__section col-12 col-sm-12 col-lg-6 col-xxl-6">
      <img src="assets/img/image1.png" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="app__title"><span>N</span>osotros</h1>
      <p class="app__text">
        Creaciones Mamushka es un negocio que parte de una idea emprendedora con el fin de
        brindar el mejor servicio de confección de vestimenta y estilo de ropaje a sus clientes
        ofreciendoles una amplia gama de variedades y con la nueva modalidad de consultas y pedidos 
        en línea desde la comodidad de sus hogares.

        Creemos en el compromiso, la honestidad y la lealtad como componentes claves en el desarrollo, 
        manteniendo nuestra proyección siempre hacia el futuro facilitanto el vestirse cómodo y a la moda.
      </p>
    </div>
  </div>
</div>


<!-- OUR WORK -->
<div class="container" id="book">
  <h1 class="app__title" style="text-align: center;"><span>N</span>uestro <span>T</span>rabajo </h1>
  <ul class="cards">
    <li data-aos="flip-left" *ngFor="let item of items | async">
      <a  class="card shadow-lg">
        <img [src]="item.urlImage" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
              <path />
            </svg>
            <img class="card__thumb" src="assets/img/camisa.png" alt="" />
            <div class="card__header-text">
              <h3 class="card__title">{{item.name}}</h3>
              <span class="card__status">1 hour ago</span>
            </div>
          </div>
          <p class="card__description">
            {{ item.description }}
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>


<!-- WHATSAPP BOT -->
<div class="elfsight-app-78bc65ae-cf03-4a8d-8e7b-ddcc9230d041"></div>


<!-- TESTIMONIAL -->
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark" style="margin: 150px 0px 50px 0px;"
  data-bs-ride="carousel">
  <h1 class="app__title" style="text-align: center; margin-bottom: 50px;"><span>T</span>estimonio</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="rounded-circle shadow mb-4" src="assets/img/pic1.png" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">María Del Carmen</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>
      <div class="text-primary">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow mb-4" src="assets/img/pic2.png" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">Juan William</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>
      <div class="text-primary">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow mb-4" src="assets/img/pic3.png" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">July Méndez</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>
      <div class="text-primary">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="carousel-item">
      <img class="rounded-circle shadow mb-4" src="assets/img/pic4.png" style="width: 150px;" />
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">Carlos Soza</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
            nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia
            fugit consequatur laudantium velit magnam error. Consectetur distinctio fugit
            doloremque.
          </p>
        </div>
      </div>
      <div class="text-primary">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>