<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top shadow">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted ms-3">&copy; 2022 Mamushka</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-3">
      <li class="ms-3"><img width="24" height="24" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Black_Instagram_icon.svg/2048px-Black_Instagram_icon.svg.png"></li>
      <li class="ms-3"><img width="24" height="24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRET8RhZv5q-Yqw3Yb09MaZv0MvYjfFwZUzDQ&usqp=CAU"></li>
      <li class="ms-3"><img width="24" height="24" src="https://cdn-icons-png.flaticon.com/512/60/60580.png"></li>
    </ul>
  </footer>